<h2><%= @user.name %>
<% if signed_in? && current_user.id != @user.id %>
  <form action="/users/follow" method="POST" id="follow-btn">
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <input type="hidden" name="follow_id" value="<%= @user.id %>">
    <input class="btn btn-primary btn-sm" type="submit" value="Follow">
  </form>
<% end %></h2>

<% if signed_in? && current_user.id == @user.id %>
  <h3>Add a tweet</h3>
  <form action="/tweets" method="POST">
    <p><textarea rows="4" cols="50" name="status"></textarea></p>
    <input type="hidden" name="user_id" value="<%= @user.id %>">
    <input class="btn btn-primary" type="submit">
  </form>

  <h3>Following</h3>
  <% @following.each do |user| %>
    <p><a href="/users/<%= user.id %>"><%= user.name %></a></p>
  <% end %>

  <h3>Follower</h3>
  <% @followers.each do |user| %>
    <p><a href="/users/<%= user.id %>"><%= user.name %></a></p>
  <% end %>

<% else %>
  <% @tweets.each do |tweet| %>
    <p><%= tweet.status %></p>
  <% end %>
<% end %>